<head>
  <title>Ole Miss Honors College Room Booking</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
</head>

<body>
  <div id="root"></div>
</body>
